{% extends "base.html" %}

{% block instructions %}
<header>
  <h2>Intrucciones: </h2>
  <ol class="instructions-wrapper">
    <li><strong>Subir todos los xml</strong>. Recuerda que puedes seleccionar muchos al mismo tiempo</li>
    <li><strong>Guardar el archivo generado.</strong> Puede ser en donde sea y con cualquier nombre, pero fíjate bien dónde es porque lo usaremos en el siguiente paso.
      <br>
      El CSV que descargarás tendrá las siguientes columnas:
      <table>
        <thead>
          <tr>
            {% for column in csv_columns %}
            <th>{{ column }}</th>
            {% endfor %}
          </tr>
        </thead>
      </table>
    </li>
    <li>Abrir en <strong>Google Drive </strong>una nueva hoja de cálculo</li>
    <li>Hacer clic en <strong>archivo -> importar -> subir</strong> y ahí escoger el archivo generado en el paso 2. Deja las opciones que viene por defecto, y da clic en Aceptar.</li>
  </ol>
</header>
{% endblock %}

{% block files_form  %}
<main>
  <h2 class="instructions-title">Sube tus archivos</h2>
  <p class="instructions-subtitle">Sólo se aceptan archivos XML</p>
  <form action="/upload-xmls/" enctype="multipart/form-data" method="post">
    <label id="file-input-button" for="file-input">
      <img alt="upload-icon" src="{{ url_for('static', path='/upload-icon.svg' ) }}" />
      <span id="instructions-button">Selecciona tus archivos</span>
    </label>
    <input id="file-input" name="xml_files" type="file" multiple accept="text/xml">
    <input class="hidden" src="{{ url_for('static', path='/send-icon.svg') }}" id="submit-button" name="submit" alt="submit" type="image">
  </form>
  <div class="file-list-container">
    <ul id="file-list" class="file-list-grid">
    </ul>
  </div>
</main>
{% endblock %}
